body, td, th {
	font-size: 95%;
	font-family: Arial, Geneva, Helvetica, sans-serif;
	color: black;
	background-color: white;
}

menu {
	margin-left: 1em;
	padding-left: 1em;
	white-space: nowrap;
}

img.alignmiddle {
	border-style: none;
	vertical-align: middle;
}

table.colortable {
	background-color: #dddddd;
}

h2 {
	font-size: 130%;
	font-weight: bold;
}

h3 {
	font-size: 110%;
	font-weight: bold;
}

h4 {
	font-size: 100%;
	font-weight: bold;
}

OL.alpha {
	list-style-type: lower-alpha;
}

p.align {
	text-align: center;
}

.menuheader {
	font-weight: bold;
}

.navleft {
	padding-right: 5px;
	border: 1px solid #cccccc;
	border-width: 0px 1px 0px 0px;
}

.navright {
	padding-left: 5px;
	border: 1px solid #cccccc;
	border-width: 0px 0px 0px 1px;
}

.section-content {
	padding-left: 1em;
	padding-right: 1em;
}

.footer {
	text-align: center;
	font-size: 80%;
}

.note {
	margin: 1em;
	padding: 1em;
	border: 2px solid gray;
}

.source {
	margin: 0em 1em 0em 1em;
	padding: 0em 1em 0em 1em;
	border: 2px solid #bbbbbb;
	white-space: pre;
}