<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2009 Low Heng Sin
Copyright (C) 2009 Idalica Corporation
-->
<zk>
<zscript>
	import org.openXpertya.OpenXpertya;
	var mainVersion = OpenXpertya.MAIN_VERSION;
	var dateVersion = OpenXpertya.DATE_VERSION;
	var dbVersion = OpenXpertya.DB_VERSION;
	var dbInfo = OpenXpertya.getDatabaseInfo();
	var vendor = OpenXpertya.getImplementationVendor();
	var vendorVersion = OpenXpertya.getImplementationVersion();
	var jvm = OpenXpertya.getJavaInfo();
	var os = OpenXpertya.getOSInfo();
</zscript>
<html>
<![CDATA[
<style>
	.versionInfoBox {
		background-color: #FFFFFF;
		margin: 5px;
		padding: 3px;
		margin-top: 20px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		font-size: 8pt;
		font-family: Arial;
	}
</style>
<div class="versionInfoBox">
	<table border="0">
		<tr>
			<td align="right">Main Version</td>
			<td>:</td>
			<td aligh="left">${mainVersion}</td>
		</tr>
		<tr>
			<td align="right">Date Version</td>
			<td>:</td>
			<td aligh="left">${dateVersion}</td>
		</tr>
		<tr>
			<td align="right">Database Version</td>
			<td>:</td>
			<td aligh="left">${dbVersion}</td>
		</tr>
		<tr>
			<td align="right">Database Info</td>
			<td>:</td>
			<td aligh="left">${dbInfo}</td>
		</tr>
		<tr>
			<td align="right">Vendor</td>
			<td>:</td>
			<td aligh="left">${vendor}</td>
		</tr>
		<tr>
			<td align="right">Vendor Version</td>
			<td>:</td>
			<td aligh="left">${vendorVersion}</td>
		</tr>
		<tr>
			<td align="right">JVM</td>
			<td>:</td>
			<td aligh="left">${jvm}</td>
		</tr>
		<tr>
			<td align="right">OS</td>
			<td>:</td>
			<td aligh="left">${os}</td>
		</tr>
		<tr>
			<td align="right">Host</td>
			<td>:</td>
			<td aligh="left">${desktop.execution.localName}</td>
		</tr>
	</table>
</div>
]]>
</html>
</zk>